*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    user-select: none;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container{
    width: 280px;
    height: fit-content;
    background-color: #000;
    padding: 80px 15px 15px 15px;
    border-radius: 45px;
}
.screen{
    width: 250px;
    height: 60px;
    display: flex;
    flex-direction: column;
    text-align: end;
    color: white;
    font-size: 30px;
    margin-bottom: 50px;
    
}
.screen .result{
    margin-bottom: 15px;
}
.buttons{
    width: 260px;
    height: 350px;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
         
}
.buttons span{
    font-size: 20px;
    width: 60px;
    height:60px;
    border-radius: 50%;
    border:none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}
.buttons span:active{
    transform: scale(0.99);
}
.oprt{
    background-color: #F69906;
}
.oprt:active{
    background-color: #e28e06;
}

.oprt-1{
    background-color: #d8d8d8;
}
.oprt-1:active{
    background-color: #b6b6b6;

}
.calc{
    background-color: #F69906;
    grid-column: 4/5;
    grid-row: 4/6;
    height: 130px !important;
    border-radius: 70px !important;
}
.calc:active{
    background-color: #c9800a;

}
.num{
    color: white;
    background-color: #313131;
}
.num:active{
    background-color: #181818;
}
.num0{
    width: 120px !important;
    border-radius: 70px !important;
    grid-column: 1/3;
}


@media screen and (max-width: 768px){
    body{
        background-color: #000;
        display: flex;
        align-items: end;
    }
    .container{
        width: 100%;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        
        
    }
    .screen{
        width: 100%;
        font-size: 45px;
        padding: 0 15px;

    }
    .buttons{
        width: 100%;
        height: 60vh;
        padding: 0 5px ;
        margin: 0 5px;
    
    }
    .buttons span{
        width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
    }
    .num0{
        width: 170px !important;
    }
    .calc{
        
        height: 185px !important;
    }
}
